In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.17.2-py3-none-any.whl (9.9 MB)
     ---------------------------------------- 9.9/9.9 MB 1.8 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\users\samrat dey\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\samrat dey\anaconda3\lib\site-packages (from selenium) (1.26.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Collecting typing_extensions>=4.9.0
  Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Collecting trio~=0.17
  Downloading trio-0.24.0-py3-none-any.whl (460 kB)
     -------------------------------------- 460.2/460.2 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.14 in c:\users\samrat dey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\samrat dey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=20.1.0 in c:\users\samrat dey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\samrat dey\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting exceptiongroup
  Downloading exceptiongroup-1.2.0-py3-none-any.whl (16 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\samrat dey\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\samrat dey\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: typing_extensions, sniffio, outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.4.0
    Uninstalling typing_extensions-4.4.0:
      Successfully uninstalled typing_extensions-4.4.0
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed exceptiongroup-1.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.17.2 sniffio-1.3.0 trio-0.24.0 trio-websocket-0.11.1 typing_extensions-4.9.0 wsproto-1.2.0

In [77]:
# Q.4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
# Brand 
# Product Description 
# Price 

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("http://www.flipkart.com/")
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sunglasses')
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

brand=[]
description=[]
price=[]
discount=[]

start=0
end=3

for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        name=i.text
        brand.append(name)
        
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        desc=i.text
        description.append(desc)
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        cost=i.text
        price.append(cost)
        
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in discount_tags:
        disc=i.text
        discount.append(disc)
    
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)
    
df=pd.DataFrame({'Brand':brand,'Description':description,'Price':price,'Discount':discount})
df.head(100)

,Brand,Description,Price,Discount
0,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹346,76% off
1,Eyewearlabs,"Polarized, UV Protection Wayfarer Sunglasses (51)","₹1,236",65% off
2,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
3,ROADWAY,"UV Protection Retro Square, Wayfarer, Sports S...",₹129,87% off
4,ROADWAY,UV Protection Wayfarer Sunglasses (Free Size),₹189,81% off
...,...,...,...,...
95,PIRASO,UV Protection Butterfly Sunglasses (60),₹388,85% off
96,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹594,70% off
97,Eyewearlabs,"Polarized, UV Protection Round Sunglasses (47)","₹1,999",44% off
98,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
99,PIRASO,UV Protection Wayfarer Sunglasses (32),₹199,87% off

In [81]:
# Q.5 Scrape 100 reviews data from flipkart.com for iphone11 phone.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

rating=[]
summary=[]
full=[]

start=0
end=10

for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rat=i.text
        rating.append(rat)
        
    summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tags:
        rev=i.text
        summary.append(rev)
    
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        ful=i.text
        full.append(ful)
    
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)
    
df=pd.DataFrame({'Rating':rating,'Review Summary':summary,'Full Review':full})
df.head(100)

,Rating,Review Summary,Full Review
0,5,Perfect product!,V Good all
1,5,Wonderful,This is amazing at all
2,5,Terrific,Very very good
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Best in the market!,Good Camera
...,...,...,...
95,5,Fabulous!,It’s very good battery life and display and vi...
96,5,Terrific purchase,Value for money 🖤🖤
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Super!,Good product 👌I love iPhone
99,5,Simply awesome,Really satisfied with the Product I received.....

In [86]:
# Q.6 Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. 
# You have to scrape 3 attributes of each sneaker: 
# 1. Brand 
# 2. Product Description 
# 3. Price

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("http://www.flipkart.com/")
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sneakers')
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

brand=[]
description=[]
price=[]

start=0
end=3

for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        name=i.text
        brand.append(name)
        
    description_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in description_tags:
        desc=i.text
        description.append(desc)
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        cost=i.text
        price.append(cost)
        
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)
    
df=pd.DataFrame({'Brand':brand,'Product Description':description,'Price':price})
df.head(100)

        Brand                                Product Description   Price
0      BRUTON  Combo pack of 2 Trendy Sneaker Shoes Walking S...    ₹549
1       Peelu  Ultralightweight Premium Comfort Trendy Outdoo...    ₹591
2   Deals4you                                 Sneakers For Women    ₹299
3    URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
4    RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹1,253
..        ...                                                ...     ...
95   HOTSTYLE                  Trendy & Stylish Sneakers For Men    ₹260
96     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹445
97       aadi  Mesh| Ultralightweight| Premiun| Comfort|Trend...    ₹299
98   RED TAPE  Sneaker Casual Shoes for Men | Soft Cushioned ...  ₹1,517
99   Shoe Lab                                 Sneakers For Women    ₹399

[100 rows x 3 columns]

In [150]:
# Q.7 Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”
# After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
# 1. Title 
# 2. Ratings 
# 3. Price

import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()
option=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[9]/li/span/a/div/label/i")
option.click()

title=[]
#rating=[]
price=[]

title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in title_tags[0:10]:
    name=i.text
    title.append(name)
        
#rating_tags=driver.find_elements(By.CLASS_NAME,"a-popover-trigger a-declarative")

#for i in rating_tags[0:10]:
#    rate=i.text
#    print(rate)
#    rating.append(rate)
    
price_tags=driver.find_elements(By.CLASS_NAME,"a-price-whole")

for i in price_tags[0:10]:
    cost=i.text
    price.append(cost)
    
df=pd.DataFrame({'Title':title,'Price':price})
df

                                               Title   Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...  73,990
1  Acer Travelmate Business Laptop Intel Core i7-...  49,990
2  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...  62,031
3  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...  84,899
4  GIGABYTE G5 MF-G2IN313SH Gaming Laptop Intel C...  75,990
5  HP Pavilion X360 11th Gen Intel Core i7 14" (3...  77,990
6  Dell Inspiron 3530 Laptop, Intel Core i7-1355U...  71,490
7  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...  87,190
8  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...  67,490
9  (Refurbished) ASUS Vivobook 15, Intel Core i7-...  50,991

In [113]:
# Q.8 A python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps: 
# 1. First get the webpagehttps://www.azquotes.com/ 
# 2. Click on Top Quotes
# 3. Than scrap a) Quote b) Author c) Type Of Quotes

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")
top=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top.click()

quotes=[]
authors=[]
types=[]

start=0
end=9

for page in range(start,end):
    quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_tags:
        quote=i.text
        quotes.append(quote)
    authors_tags=driver.find_elements(By.CLASS_NAME,"author")
    for i in authors_tags:
        author=i.text
        authors.append(author)
    types_tags=driver.find_elements(By.CLASS_NAME,"tags")
    for i in types_tags:
        typ=i.text
        types.append(typ)
    
    next_button=driver.find_element(By.CLASS_NAME,"next")
    next_button.click()
    time.sleep(3)

quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags:
    quote=i.text
    quotes.append(quote)
authors_tags=driver.find_elements(By.CLASS_NAME,"author")
for i in authors_tags:
    author=i.text
    authors.append(author)
types_tags=driver.find_elements(By.CLASS_NAME,"tags")
for i in types_tags:
    typ=i.text
    types.append(typ)
    
df=pd.DataFrame({'Quotes':quotes,'Authors':authors,'Types of Quotes':types})
df.head(1000)

,Quotes,Authors,Types of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [83]:
# Q.9  a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. 
# This task will be done in following steps: 
# 1. First get the webpagehttps://www.jagranjosh.com/ 
# 2. Then You have to click on the GK option 
# 3. Then click on the List of all Prime Ministers of India 
# 4. Then scrap the mentioned data and make theDataFrame. 

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")
gk=driver.find_element(By.XPATH,"/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
gk.click()
time.sleep(5)
pm=driver.find_element(By.XPATH,"//a[@href='https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1']")
pm.click()

name=[]
born_dead=[]
term=[]
remarks=[]

name_tags=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[2]/div')
for i in name_tags:
    n=i.text
    name.append(n)
born_tags=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[3]/div')
for i in born_tags:
    born=i.text
    born_dead.append(born)
term_tags=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[4]')
for i in term_tags:
    t=i.text
    term.append(t)
remark_tags=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[5]/div')
for i in remark_tags:
    remark=i.text
    remarks.append(remark)

df=pd.DataFrame({'Name':name,'Born-Dead':born_dead,'Term of Office':term,'Remarks':remarks})
df

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [143]:
# Q.10 Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/ 
# This task will be done in following steps: 
# 1. First get the webpage https://www.motor1.com/ 
# 2. Then You have to type in the search bar ’50 most expensive cars’ 
# 3. Then click on 50 most expensive cars in the world.. 
# 4. Then scrap the mentioned data and make the dataframe.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")
time.sleep(5)
product=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
product.send_keys('50 most expensive cars')
search=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()
time.sleep(3)
cars=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
cars.click()

name=[]
price=[]

name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:50]:
    n=i.text
    name.append(n)
price_tags=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')
for i in price_tags[0:50]:
    p=i.text
    price.append(p)
    
df=pd.DataFrame({'Car Name':name,'Price':price})
df

                              Car Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)